.gyr-card {
  border: 1px solid;
  border-color: darkgray;
  display: inline-block;
  position: relative;
  width: 30%;
  padding: 2px;
  margin: 2px;
}

.gyr-tool {
  position: absolute;
  bottom: 2.5em;
  height: 2em;
  width: 2em;
}
